body {
  background-color: #e2999a;
  padding: 20px;
  padding-top: 100px;
}

header {
  position: fixed;
  width: 100%;
  padding: 20px;
  top: 0;
  left: 0;
  background-color: #e2999a;
}

.header-container {
  height: 30px;
  display: flex;
  /* position: relative; */
  justify-content: flex-end;
}

.header-container > * {
  height: 100%;
  text-align: center;
  margin-left: 6px;
}

.icon-button {
  padding: 0 8px;
}

.icon-logo {
  margin: 0;
  margin-right: auto;
}

.card-link__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  gap: 16px;
  margin-top: 50px;
}

.card-link__frame {
  color: #e2999a;
  background-color: #ffffff;
  min-height: 376px;
  height: 100%;
}

.card-link__headline {
  font-size: 24px;
  font-weight: 600;
  padding: 52px 20px 12px 20px;
}
.card-link__description {
  font-size: 14px;
  padding: 0 20px 35px 20px;
}

.card-link__frame img {
  width: 100%;
  display: block;
  margin-bottom: auto;
}
